
/* Tabs */
.tab-item span {
    font-size: 12px;
    font-weight: 600;
    color: hsl(0, 0%, 56%);
    margin-left: 6px;
}
.tab-item {
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 52px;
    /* background: aquamarine; */
    margin-right: 60px;
}
.tab-item.last {
    margin-right: 0;
}
.tab-item.active span {
    color: hsl(0, 0%, 15%);
}
.tab-item.active {
    border-top: 1px solid hsl(0, 0%, 15%);
    margin-top: -1px;
}
.tabs {
    display: flex;
    justify-content: center;
    border-top: 1px solid hsl(0, 0%, 86%);
}

/* Mobile Tabs */
.mobile-tabs {
    /* background: pink; */
}
.mobile-tabs li {
    font-size: 14px;
    font-weight: 400;
    color: rgb(142, 142, 142);
    line-height: 18px;
    text-align: center;
}
.mobile-tabs li div {
    font-weight: 600;
    color: rgb(38, 38, 38);
}
.mobile-tabs ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 12px 0;
    border-top: 1px solid rgb(219, 219, 219);
}
.mobile-tabs .actions {
    display: flex;
    justify-content: space-around;
    height: 44px;
    align-items: center;
    border-top: 1px solid rgb(219, 219, 219);
}

.mobile-tabs .actions a svg {
    fill: #8e8e8e;
}

.mobile-tabs .actions a.active svg {
    fill: rgb(0, 149, 246);
}
